.ticker {
  @apply overflow-hidden bg-neutral-dark text-white fixed bottom-0 left-0 p-2 w-full;
}

.ticker-wrapper {
  @apply w-fit animate-[ticker-scroll_50s_linear_infinite] lg:animate-[ticker-scroll_100s_linear_infinite];
}

.ticker:hover .ticker-wrapper,
.ticker-wrapper:hover,
.ticker:focus-within .ticker-wrapper {
  animation-play-state: paused;
}

.ticker-items {
  @apply flex items-center justify-start whitespace-nowrap gap-8;
}

.ticker-item {
  @apply text-base font-semibold cursor-pointer;
}

@keyframes ticker-scroll {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% - 100vw), 0, 0);
  }
}
