.stretched-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hide-arrow::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.font-petite-caps {
  font-variant: petite-caps;
}
