@import "./variables.css";

@import "tailwindcss/base";
@import "./base/_index.css";

@import "tailwindcss/components";
@import "./components/_index.css";

@import "tailwindcss/utilities";
@import "./utilities/index.css";

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.selectcoin-wrapper .label {
  display: flex !important;
}

.selectcoin-wrapper .label > span {
  display: none !important;
}

.navbrand {
  max-width: 60px;
}
